.Rproj.user
.Rhistory
.RData
.Ruserdata
# .Rprofile
.DS_Store
*.html
*.swp
*.rmarkdown

/.quarto/
index_files/
_site/
_extensions/
site_libs/

# ignore outputs in subdirectories
**/*_files/

staging/

temp/

# *.png

# always add png in _freeze/ and img/
# odds are that their addition is intentional
# !_freeze/*.png
# !img/*.png

# quarto outputs
transcripts.tidy.csv

**/*.quarto_ipynb
