.Rproj.user
.Rhistory
.RData
.Ruserdata
# .Rprofile
.DS_Store
*.html
*.swp

/.quarto/
_site/
_extensions/

staging/

# *.png

# always add png in _freeze/ and img/
# odds are that their addition is intentional
# !_freeze/*.png
# !img/*.png