/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #CFB87C;
$hover-color: lighten($link-color, 40%);

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #565A5C;
$sidebar-bg: #565A5C;
$toc-active-border: #CFB87C;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;


/*-- scss:rules --*/

a{
  color: $link-color;

  &:hover{
    color: $hover-color;
  }
  
}