/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #565A5C;
$hover-color: lighten($link-color, 20%);

/*-- scss:rules --*/

a {
  color: $link-color;

  &:hover {
    color: $hover-color;
  }

}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
  font-weight: bold;
}

code:not(.sourceCode) {
  color: #d63384 !important; // Bootstrap's danger color (readable pink/red)
  background-color: #f8f9fa !important; // Light gray background
}
